@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Set background color directly on body */
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto; 
    width: 400px;
    padding: 30px;
    border-radius: 5px;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: px;
    font-size: 48px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    margin-top: 50px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 600;
}

input[type="email"],
input[type="password"] {
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 24px;
    font-size: 14px;
}

a:first-child { /* Style for forgot password link */
    margin-bottom: 20px;
    font-size: 10px;
    color: #000000;
    background-color: transparent;
    text-decoration: none;
}

button {
    background-color: black;
    color: #fff;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    height: 46px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

