@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Set background color directly on body */
}   

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 48px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 600;
}

button {
    border-radius: 10px;
    font-size: 14px;
    font-weight: 550;
    cursor: pointer;
    height: 56px;
}

button:hover {
    background-color: gray;
}

button[type="submit"] {
    background-color: black;
    border: none;
    color: #fff;
}

button[type="submit"]:hover {
    background-color: #444;
}
    
input[type="email"],
input[type="card_id"],
input[type="password"],
input[type="text"],
input[type="code"],
input[type="number"] {
    width: 353px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 56px;
    font-size: 14px;
    box-sizing: border-box;
}

input[type="date"]{
    width: 353px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.image-upload-container {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-decoration {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link { /* Style for forgot password link */
    margin-top: 70px;
    margin-bottom: 10px;
    color: #000000;
    background-color: transparent;
    text-decoration: none;
}

p {
    font-weight: 400;
    font-size: 14px;
    color: gray;
    margin: 10px;
}

strong {
    color: #000000;
    font-weight: 600;
}

table {
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0px;
    border-color: #0000BB;
}

nav {
    padding: 10px;
}

.li-first {
    font-weight: 700;
}

li{
    margin-right: 10px;
    font-size: 14px;
}

img {
    display: block;
    margin: auto;
}

i {
    margin-right: 5px;
}

#wrapper {  /* ADDED */
    position: relative;
    width: 200px;
  }
  
#scrollable {
    height: 350px;
    border: 1px solid;
    overflow: auto;
    position: relative;
}