.code-inputs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 80px;
}
.code-inputs input {
    text-align: center;
    height: 77px;
    width: 77px;
    margin: 0 8px;
    border: 1px solid gray;
    border-radius: 15px;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
}
.code-inputs input:focus {
    border: 1px solid black;
}
.send-code-again {
    height: 20px;
    border: none;
    background-color: white;
    color: gray;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}


.send-code-again:hover {
    background-color: white;
}